<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Simple Crud</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.0/css/bulma.min.css">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
     <div id="app" class="container">
        <div class="columns is-mobile">
            <div class="column is-half is-offset-one-quarter">
                <div class="panel">
                    <div class="panel-heading">
                        <h4 class="title">Tareas </h4>
                    </div>
                    <div is="app-task" v-for="(task, index) in tasks" :task="task" :index="index" @remove="deleteTask"></div>
                    
                </div><!-- ./panel -->
                <hr>
                <form @submit.prevent="createTask">
                    <div class="field has-addons">
                      <div class="control is-expanded">
                        <input class="input" type="text" placeholder="Tarea nueva" v-model="newTask">
                      </div>
                      <div class="control">
                        <button type="submit" class="button is-primary">
                          Agregar
                        </button>
                      </div>
                    </div>
                    <div class="control">
                        <button @click="deleteCompleted" type="button" class="button is-small is-inverted is-warning pull-right">
                            <app-icon img="exclamation-triangle"></app-icon> 
                            &nbsp; Eliminar Tareas completadas
                        </button>
                     </div>
                </form>
            </div><!-- ./colum -->
        </div><!-- ./columns -->
        
        
   
      
    </div>    


    <script src="https://unpkg.com/vue"></script>
    <script type="text/x-template" id="task-template">
        <div  class="panel-block" :class="{'is-editting':editting, 'is-completed':!task.pending}">
            <span @click="toggleStatus" class="panel-icon">
              <app-icon :img=" task.pending ? 'square-o' : 'check-square-o'  " ></app-icon>
            </span>
            <template v-if="!editting">
                <p class="control">
                    <span >{{task.description}}</span>
                </p>      
                <div class="field is-grouped is-grouped-right">
                  <p class="control">
                    <button @click="edit" type="button" class="button is-info" :disabled="!task.pending">
                    <span class="icon is-small">
                      <app-icon img="pencil"></app-icon>
                    </span>
                    </button>
                  </p>
                  <p class="control">
                    <button @click="remove" type="button" class="button is-danger" :disabled="!task.pending">
                    <span class="icon is-small">
                      <app-icon img="trash-o"></app-icon>
                    </span>
                    </button>
                  </p>
                </div><!-- ./field is-grouped -->
            </template>

            <template v-else>
                <input class="input is-paddingless" type="text" v-model="draft">
                <div class="field is-grouped is-grouped-right">
                  <p class="control">
                    <button @click="update" type="button" class="button is-primary">
                    <span class="icon is-small">
                      <app-icon img="check" ></app-icon>
                    </span>
                    </button>
                  </p>
                  <p class="control">
                    <button @click="discard" type="button" class="button is-warning">
                    <span class="icon is-small">
                      <app-icon img="times"></app-icon>
                    </span>
                    </button>
                  </p>
                </div><!-- ./field is-grouped -->
            </template>
            
        </div><!-- ./panel-block -->
    </script>
    <script src="admin.js"></script>
</body>
</html>
